@import "./ant-theme-vars.less";

$primary-color: #06BA61;

$tcblue: #2F9BE9;
$green: #12B23A;
$red: #FF3A33;

$bg-white: #FFFFFF;
$bg-grey: #f8f8f8;
$bg-grey-light:#efefef;

$line-grey: #E5E5E5;

$orange: #FF9900;
$pirce-free: #12B23A;

$font-default: #4d4948;
$font-dark: #333333;
$font-light: #CCCCCC;
$font-gray: #9a9a9a;