@import "color";
@import "variables";
@import "mixin";

.home-page {
    .top {
        position: relative;
        height: 33vw;
        background: $primary-color;
        overflow: hidden;

        .bg-circle {
            position: absolute;
            top: 0;
            right: 0;
            width: 30vw;
            height: 30vw;
            border-radius: 50%;
            opacity: 0.2;
            background: linear-gradient(135deg, #ffffff 34%, rgba(255, 255, 255, 0.00) 75%);
            transform: translate(50%, -50%);
        }

        .bg-hollow-circle {
            position: absolute;
            bottom: 0;
            left: 0;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 19.5vw;
            height: 19.5vw;
            opacity: 0.2;
            border-radius: calc(19.5vw / 2);
            background: linear-gradient(166deg, rgba(255, 255, 255, 0.33) 34%, #ffffff 62%);
            transform: translate(-50%, 50%);

            &::after {
                display: block;
                content: '';
                width: 14vw;
                height: 14vw;
                border-radius: 50%;
                background: $primary-color;
            }
        }

        .bg-center-circle {
            position: absolute;
            bottom: 0;
            left: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 19vw;
            height: 19vw;
            opacity: 0.2;
            border-radius: calc(19.5vw / 2);
            background: linear-gradient(180deg, rgba(255, 255, 255, 1) 34%, #ffffff 62%);
            transform: translate(-50%, 50%);
        }

        .numbers {
            position: absolute;
            bottom: 0;
            display: flex;
            width: 100%;
            height: 18vw;

            li {
                flex: 1;
                display: flex;
                align-items: center;
                flex-direction: column;

                .number {
                    flex: 0 0 8vw;
                    display: flex;
                    align-items: center;
                    font-size: 23px;
                    font-family: DINAlternate, DINAlternate-Bold;
                    font-weight: 700;
                    color: #ffffff;
                }

                .mean {
                    // margin-top: 2.13vw;
                    flex: 1;
                    font-size: 14px;
                    font-weight: 350;
                    color: #ffffff;
                }
            }
        }

    }

    .avatar {
        position: relative;
        margin: -8vw auto;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 17vw;
        height: 17vw;
        border-radius: 50%;
        background: #fff;

        img {
            width: 16vw;
            height: 16vw;
            border-radius: 50%;
        }
    }

}